body {
  font-family: "helvetica neue";
  display: flex;
  flex-wrap: wrap;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
  fill: none;
}

.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.node.player-graph-node {
  fill: hsl(110, 85%, 45%);
}

.invisible {
  opacity: 0;
}

.form-pane {
  flex-grow: 2;
  width: 40%;

  display: flex;
  flex-wrap: wrap;
}

.sentence-text {
  width: 100%;
  height: 2em;
}

.sentence-to-json {
  width: 50%;
  height: 2em;
}

.disambiguate-button {
width: 50%;
  height: 2em;
}

.sentence-json {
  width: 50%;
  height: 900px;
}

.headless-section {
  width: 40%;
}

.current-headless-json {
  height: 100%;
}

.parse-button {
  width: 50%;
  height: 2em;
}

.step-button {
  width: 50%;
  height: 2em;
}
