body {
  font-family: "helvetica neue";
  display: flex;
  flex-wrap: wrap;
}

.link {
  stroke: #000;
  stroke-width: 1.5px;
  fill: none;
}

.node {
  cursor: pointer;
  fill: #ccc;
  stroke: #000;
  stroke-width: 1.5px;
}

.node.fixed {
  fill: #f00;
}

.node.player-graph-node {
  fill: hsl(110, 85%, 45%);
}

.invisible {
  opacity: 0;
}

.form-pane {
  flex-grow: 2;
}

.sentence-json {
  width: 100%;
  height: 640px;
}
